# This file is for projects that checkout webrtc/ directly (e.g. Chromium). It
# is a truncated copy of the .gitignore file in the parent directory.
*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.suo
*.target.mk
*.targets
*.user
*.vpj
*.vpw
*.vpwhistu
*.vtg
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
*.db
*.opendb
*.ilk

*.exe
*.pdb
*.exp

*.autosave
/enc_temp_folder

ui_*.h
*.vs
/IntDir
/debug
/release
/Win32
/RunDir/Win32/*/*.dll

build-*
.DS_Store
.qmake.stash
/XiaoPeerS/Debug/
/XiaoPeerS/Release/
/XiaoPeerS/XiaoPeerS.build/
/XiaoPeerS/ui_*.h
/XiaoPeerS/moc_*.cpp
/XiaoPeerS/XiaoPeerS.xcodeproj/xcuserdata/
/XiaoPeerS/XiaoPeerS.xcodeproj/*.xcworkspace/xcuserdata/